DJANGO_SECRET_KEY=django-insecure-zmdng)s9ga!_9*e=b$f_1h_^qfz!dt$9#$-5j$jt)(p82a%dly
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=dasibom
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:8081,http://localhost:19006

GEMINI_API_KEY=
GEMINI_CHAT_MODEL=gemini-3.1-flash-lite
GEMINI_TTS_MODEL=gemini-2.5-flash-preview-tts
GEMINI_TTS_VOICE=Kore
